# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Static & Dynamic libraries
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Source Safe files
*.scc

# Visual Studio files
*.ncb
*.opt
*.positions
*.plg
*.suo
*.vcproj
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
.vs

# Visual Studio build directories
Debug
Release
Win32
x64

# Jetbrains CLion project directory
.idea

# CMake generated build directories
cmake-build-*
CMakeLists.txt
